<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datos.mvilchis.bancavf">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name"
            android:icon= "@drawable/logo_bansefi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activity.RegisterUserActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activity.ActivationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
        android:name=".activity.MainActivity"
        android:windowSoftInputMode="adjustPan|stateHidden">


        </activity>
        <!-- Consultation activities -->
        <activity
            android:name=".activity.ConsultationActivity"
            android:parentActivityName=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.MovementActivity"
            android:parentActivityName=".activity.ConsultationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ConsultationActivity"/>
        </activity>
        <!-- Payment Activities -->
        <activity
            android:name=".activity.PaymentActivity"
            android:parentActivityName=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.PaymentCellActivity"
            android:parentActivityName=".activity.PaymentActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PaymentActivity"/>
        </activity>
        <activity
            android:name=".activity.PaymentQrActivity"
            android:parentActivityName=".activity.PaymentCellActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PaymentCellActivity"/>
        </activity>
        <activity
            android:name=".activity.PaymentCodeActivity"
            android:parentActivityName=".activity.PaymentCellActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PaymentCellActivity"/>
        </activity>
        <!-- Collect Activities -->
        <activity
            android:name=".activity.CollectActivity"
            android:parentActivityName=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.CollectReceiveActivity"
            android:parentActivityName=".activity.CollectActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CollectActivity"/>
        </activity>
        <activity
            android:name=".activity.CollectSuccessActivity"
            android:parentActivityName=".activity.CollectReceiveActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CollectReceiveActivity"/>
        </activity>
    </application>

</manifest>